<!--

/* Custom css style sheet for schools to add thier own styles or override styles in default css */


/* These styles have corresponding styles that finish out the desired look and feel in 
   /misc/style.css but need to be in this file because of the dependency on the theme 
   that the images reside in.
   
   When creating a new theme, change the path to reflect the new theme.  In most cases, only 
   the directory immediately following the "custom" directory (classic, in the styles below) 
   will need to be changed.
 */

BODY.main { padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 100%; min-width: 775px; background: #eee}

td.tabon { 
  background-image:url(./images/misc/tab_bg_left_on.gif);
  background-color: transparent !important;
}
td.taboff { 
  background-image:url(./images/misc/tab_bg_left.gif); 
  background-color: transparent !important;
}
td.taboff:hover { 
  background-image:url(./images/misc/tab_bg_left_hover.gif); 
}
td.taboff:active { 
  background-image:url(./images/misc/tab_bg_left_on.gif); 
}
div.tabon {
  background-image:url(./images/misc/tab_bg_right_on.gif);
  background-color: transparent !important;
  margin-left: 10px;
  margin-right: 1px;
  padding-left: 0px;
  padding-top: 5px;
}
div.taboff { 
  background-image:url(./images/misc/tab_bg_right.gif);
  background-color: transparent !important;
  margin-left: 10px;
  margin-right: 1px;
  padding-left: 0px;
  padding-top: 5px;
}
div.taboff:hover { 
  background-image:url(./images/misc/tab_bg_right_hover.gif); 
}
div.taboff:active { 
  background-image:url(./images/misc/tab_bg_right_on.gif); 
}
.bgmenu {
  background-image:url(./images/misc/menu_bg.gif);
}

div#tabbar {
  padding: 0;
  margin-top: 3px;
}
table.tabbar {
  background: #003366 url(./images/misc/tabbar_bg.gif) repeat-x bottom;
  margin-top: -3px;
}
td.tabrow {
  padding: 10px 10px 0 10px;
}
div#apps-tabbar {
  padding: 0;
}
table.apps-tabbar {
  background: #369 url(./images/misc/tabbar_bg.gif) repeat-x bottom;
}
td.apps-tabrow {
  padding: 10px 10px 0 10px;
}
td.apps-ext-hlp {
  vertical-align: bottom;
  padding: 0 0 6px 0;
}
td.apps-ext-hlp span, td.apps-ext-hlp a:hover {
  color: #fff;
}
table.apps-tabbar h1#section_head_txt {color: #eee;}

h2#btitle {text-align: left; color: #fff; font-size: 7pt;}

table.welcome_bar {
  background: #003366;
  border-bottom: 3px #036 solid;
  
}

span#date_txt {
  color: #fff;
}

div#content {
  background: #eee;
  padding: 10px;
}

span#mng-links a {
	color: white;
}

span#mng-links a:hover {
	color: white;
}

span#backto a {
	color: white;
}

span#backto a:hover {
	color: white;
}

span#welcome, span#welcome span {
  color: white;
}

.label-white a {
	color: #fff;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.label-white a:hover{
  color: #fff;  
	// text-decoration: none;
}

.label-white a:visited{
  color: #fff;  
	// text-decoration: none;
}

/* begin standard channel classes ------------- */

.channel-window-outside {
	
	background: #568CC1 url(./images/misc/chan_header_bg_center.gif) repeat-x top;
	display: block;
	margin: 0px 0px 15px 0px;
	padding: 0 0 0 0;
}

.channel-window-inside {
  	border: 1px #036 solid; 
	color: inherit;
	display: block;
	padding: 0 0 0 0;
}

.channel-header {
	margin: 0px -3px -1px 0px;
	padding: 0px 0px 0px 0px;
	color: inherit;
	display: block;
	height: auto;
}

.channel-header div img {
	border: none;
	margin: 0 0 0 0;
	vertical-align: top
}

.channel-header div {
	border-bottom: 0px solid #333;
	color: #000;
	text-align: right;
	margin: 0px 0px 0px 0px;
	padding: 5px 3px 5px 3px;
}

.channel-header div h1, .channel-header div h1 span  {
	font-size: 12px;
	font-weight: bold; 
	float: left;
	text-align: left;
	letter-spacing: normal;
	vertical-align: bottom;
	color: #fff;
	margin-right: 5px;
	margin-bottom: 5px;
}


.channel-content-border {
	background: #fff;
	border: 1px solid #036;
	color: inherit;
	display: block;
	margin: 0 -1px -1px -1px;
	padding: 5px 5px 5px 5px;
}

.channel-content-body {
	height: 110% !important;
	padding: 0;
	margin: 0;
	width: 100%
}

html>body div.channel-content-body>table {
	height: auto;
	clear: both;
	border: none;
	padding: 0;
	margin: 0;
	width: 99.5%;
}

/* end standard channel classes --------------- */

/* standard Page header classes --------------- */

.page-header-outside {
	border-bottom: 2px #ddd solid;
	border-right: 0px #ddd solid;
	background: #568CC1 url(./images/misc/chan_header_bg_center.gif) repeat-x top;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0 0 0 0;
}

.page-header-inside {
  	border: 1px #036 none; 
	color: inherit;
	display: block;
	padding: 0 0 0 0;
}

.page-header {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: inherit;
	display: block;
	height: auto;
}

.page-header div {
  background: url(./images/misc/chan_header_bg_left.gif) no-repeat left top;
	border-bottom: 0px solid #333;
	color: #fff;
	text-align: right;
	margin: 0 0px 0 0px;
	padding: 2px 5px 2px 5px;
}

/* end standard Page header classes --------------- */

/*
 * Button styles
 */

input.btn
{
  color: #333;
  font: bold 11px verdana, helvetica, arial, sans-serif;
  background: #ccc url(./images/misc/btnbg.gif) repeat-x center;
  text-decoration: none;
  border-top: 1px solid #999; 
  border-left: 1px solid #999; 
  border-bottom: 1px solid #666; 
  border-right: 1px solid #666;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
}
input.btn:link, input.btn:visited
{
  color: #003366;
  text-decoration: none;
  cursor: pointer;
}
input.btn:hover
{
  color: #000;
  background: #ccc url(./images/misc/btnbg_hover.gif) repeat-x center;
  border-top: 1px solid #c90; 
  border-left: 1px solid #c90; 
  border-bottom: 1px solid #c90; 
  border-right: 1px solid #c90;
  text-decoration: none;
  cursor: pointer;
}
input.btn:active
{
  color: #333;
  background: #ccc url(./images/misc/btnbg_click.gif) repeat-x center;
  border-top: 1px solid #666; 
  border-left: 1px solid #666; 
  border-bottom: 1px solid #999; 
  border-right: 1px solid #999;
  text-decoration: none;
  cursor: pointer;
}

input.btnsm
{
  color: #003366;
  font: bold 10px verdana, helvetica, arial, sans-serif;
  background: #999 url(./images/misc/btnbg.gif) repeat-x center;
  text-decoration: none;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
}
input.btnsm:link, input.btnsm:visited
{
  color: #003366;
  text-decoration: none;
  cursor: pointer;
}
input.btnsm:hover
{
  color: #fff;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}
input.btnsm:active
{
  color: #003366;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}

input.btndisabled
{
  color: #666;
  font: bold 10px verdana, helvetica, arial, sans-serif;
  background: #999 url(./images/misc/btnbg.gif) repeat-x center;
  text-decoration: none;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
}
input.btndisabled:link, input.btndisabled:visited
{
  color: #666;
  text-decoration: none;
  cursor: pointer;
}
input.btndisabled:hover
{
  color: #666;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}
input.btndisabled:active
{
  color: #666;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}

input.btnsmdisabled
{
  color: #666;
  font: bold 10px verdana, helvetica, arial, sans-serif;
  background: #369 url(./images/misc/btnbg.gif) repeat-x center;
  text-decoration: none;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  margin: 0px 3px 0px 3px;
  cursor: pointer;
}

input.btnsmdisabled:link, input.btnsmdisabled:visited
{
  color: #666;
  text-decoration: none;
  cursor: pointer;
}
input.btnsmdisabled:hover
{
  color: #666;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}
input.btnsmdisabled:active
{
  color: #666;
  border-top: 1px solid #051C46; 
  border-left: 1px solid #051C46; 
  border-bottom: 1px solid #051C46; 
  border-right: 1px solid #051C46;
  text-decoration: none;
  cursor: pointer;
}

td.btn { background: transparent !important; padding: 3px 4px 3px 3px;}
td.singlebtn { background: transparent !important; padding: 3px 4px 3px 3px; }
/* End Button tabs */

a.frag:link   {font-size:8pt; font-style:normal; font-family:helvetica, arial, sans-serif; text-decoration: underline; color:#ffffff}
a.frag:visited   {font-size:8pt; font-style:normal; font-family: helvetica, arial, sans-serif; text-decoration: underline; color:#ffffff}
a.frag:active   {font-size:8pt; font-style:normal; font-family: helvetica, arial, sans-serif; text-decoration: underline; color:#ffffff}
a.frag:hover    {text-decoration: underline; color: #ffffff}

-->
